@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$blue: #1da1f2;
$hover: #58bffe;
$black: #14171a;
$darkGray: #657786;
$lightGray: #aab8c2;
$extraLightGray: #e1e8ed;
$extraExtraLightGray: #f5f8fa;
$white: #fff;
